@{
    ViewData["Title"] = "Badgers Only";
}

<h2>What would you like to edit?</h2>
<ul>
    <li><a asp-area="" asp-controller="BadgersOnly" asp-action="ListTestimonials">Testimonials</a></li>
</ul>



