body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@font-face {
    font-family: "Fixer";
    src: url("/css/fonts/fixer.ttf") format('truetype');
}

@font-face {
    font-family: "Kookaburra";
    src: url("/css/fonts/kookaburra.otf") format('opentype');
}

#title-text-large {
    font-family: Kookaburra;
    font-size: 150px;
}

#title-text-small {
    font-family: Kookaburra;
    font-size: 90px;
}

#home-page {
    text-align: center;
}

#index-logo {
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 20px;
}

#index-logo img {
    width: 100%;
    height: 100%;
}

.facebook-vid {
    width: 100%;
    height: 315px;
    max-width: 560px;
    max-height: 315px;
    margin: 10px;
}

#testimonial-content {
    height: 8em;
}

#testimonial-holder {
    background-color: #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
    border: white;
    border-style: solid;
}

.badger-boy {
    width: 70%;
}

#bio-images {
    padding-left: 7%;
    padding-right: 7%;
}

.bio-photo img {
    width: 325px;
    padding: 10px;
}

.bio-text {
    padding: 10px;
}