@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <!-- SCRIPT DECLARATIONS GO HERE -->
}

<div id="home-page">
    <div id="index-intro">
        <h1>Welcome</h1>
        <p>Welcome to the home of Badger Boys Band. A local Dorset based covers band touring pubs, parties and festivals!</p>
    </div>
    <div id="index-logo">
        <img src="~/images/badgerBoysLogo.png" alt="Badger Boys Logo" />
    </div>
    <div id="index-highlights">
        <div class="highlight">
            <h2>Highlights</h2>
            <p>Sturminster Newton Football Club: May 2018</p>
            <iframe class="facebook-vid" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fthebadgerboys%2Fvideos%2F1561250167330785%2F&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>

