@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <!-- SCRIPT DECLARATIONS GO HERE -->
}

<div id="home-page">
    <div id="index-intro">
        <div class="d-none d-lg-block d-md-block">
            <h1 id="title-text-large">BADGER BOYS</h1>
        </div>
        <div class="d-md-none">
            <h1 id="title-text-small">BADGER BOYS</h1>
        </div>
        <h2>Welcome.</h2>
        <p>
            Welcome to the home of Badger Boys Band.
            A local Dorset based covers band touring pubs, parties and festivals!
        </p>
    </div>
    <div>
        <iframe class="facebook-vid" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fthebadgerboys%2Fvideos%2F1561250167330785%2F&show_text=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
    <h2>About.</h2>
    <h5>Choose a badger to see their bio...</h5>

    <div id="bio-images" class="container text-center">
        <div class="row">
            <div class="col-4">
                <img src="~/images/mattBadger.png" class="badger-boy" id="matt-badger" />
            </div>
            <div class="col-4">
                <img src="~/images/alexBadger.png" class="badger-boy" id="alex-badger" />
            </div>
            <div class="col-4">
                <img src="~/images/tommieBadger.png" class="badger-boy" id="tommie-badger" />
            </div>
        </div>
    </div>


    <div id="bio-holder" class="container">
        <hr />
        <div id="matt-bio" class="row" style="display: none">
            <div class="bio-photo col-xl-4 col-lg-5 col-md-6 text-center">
                <img src="~/images/matty.jpg" />
            </div>
            <div class="bio-text col-xl-8 col-lg-7 col-md-6">
                <h2>Matt.</h2>
                <p>
                    As one of the front badgers Matt plays guitar and provides vocals. He says that ‘the best thing about being a Badger Boy is seeing the response of the crowd to the music we play’ and loves performing in as many places as possible!
                    Matt also enjoys making a wide variety of music seem fresh, with only three badgers meaning the approach to songs must be unique. Don't let this badger play himself down, he really is the bees (badgers) knees, you’ll never hear the songs played in the same way again!!
                </p>
            </div>
        </div>
        <div id="alex-bio" class="row" style="display: none">
            <div class="bio-photo col-xl-4 col-lg-5 col-md-6 text-center">
                <img src="~/images/alexLegend.jpg" />
            </div>
            <div class="bio-text col-xl-8 col-lg-7 col-md-6">
                <h2>Alex.</h2>
                <p>
                    Alex is the curly badger of the group. Curly in hair and curly in comments, don't let this badger's terrible chat put you off though, he often scratches out the odd bass solo and will occasionally attempt to play the keyboard.
                    Alex loves all kinds of music, and seeing an audience on their feet makes this badger very happy indeed.
                </p>
            </div>
        </div>
        <div id="tommie-bio" class="row" style="display: none">
            <div class="bio-photo col-xl-4 col-lg-5 col-md-6 text-center">
                <img src="~/images/tommie.jpg" />
            </div>
            <div class="bio-text col-xl-8 col-lg-7 col-md-6">
                <h2>Tommie.</h2>
                <p>
                    Being the youngest of the group drummer Tommie is still looked upon as the "Baby Badger" but that does not show with his attitude to playing what so ever!. This badgerling offers such a refreshing, unique and solid style to their repertoire. Thinking of new creative ideas to play all the time he's normally known as the "loud one" and thats just off stage.. He thrives off seeing people dance and enjoy the wide array of music they play. So no matter what be sure to get your dancing paws on at every gig!!
                </p>
            </div>
        </div>
    </div>
</div>

