@model List<BadgerBoysWebApp.Models.Testimonial>
@{
    ViewData["Title"] = "Testimonials";
}

<h2>Testimonials</h2>
<hr />
<p>Many of the reviews below refer to us under our former name "The Threetles".</p>
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="col-md col-sm" id="testimonial-holder">
            <p>@item.Name</p>
            <p>@item.Content</p>
        </div>
    }
</div>


